.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #FFFAF1;
}

.outer-square {
  width: 40vw;
  height: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 30px 1px rgba(20,20,20,0.4);
  border-radius: 10px;
}

.inner-square {
  width: 60%;
  height: 60%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 1px 1px 50px 1px rgba(20,20,20,0.5);
  border-radius: 10px;
  margin-bottom: 3vh;
}

.album-cover {
  width: 100%;
  height: 100%;
}

.text-below {
  text-align: center;
}

.title {
  font-size: 1.8em;
  font-weight: 800;
  font-family: 'Raleway', sans-serif;
}

.artists {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1.01em;
}

.mood {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 1.2em;
}

.color {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 1.2em;
}
